.imageStyle {
  height: 30vw;
  width: 45vw;
}
.cardContentStyle {
  height: 20vw;
  width: 45vw;
  background-color: rgb(118, 150, 189);
}
.card {
  background-color: rgb(118, 150, 189);
  border: 0px;
}
@media only screen and (max-width: 650px) {
  .card {
    display: none;
  }
}

.dark-card {
  background-color: rgb(80, 102, 128);
  border: 0px;
}
@media only screen and (max-width: 650px) {
  .dark-card {
    display: none;
  }
}

.darkCardContentStyle {
  height: 20vw;
  width: 45vw;
  background-color: rgb(80, 102, 128);
  border: 0px;
}
