.cardStyle {
  margin-right: 2vw;
  margin-left: 2vw;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.imageStyle {
  height: 20vh;
  width: 30vw;
  max-width: 300px;
}

.card {
  background-color: rgb(118, 150, 189);
  border: 0px;
}

.cardContentStyle {
  height: 20vh;
  width: 30vw;
  max-width: 300px;
  background-color: rgb(118, 150, 189);
  white-space: pre-wrap;
}

.dark-card {
  background-color: rgb(80, 102, 128);
  border: 0px;
}

.darkCardContentStyle {
  height: 20vh;
  width: 30vw;
  max-width: 300px;
  background-color: rgb(80, 102, 128);
  border: 0px;
  white-space: pre-wrap;
}

@media only screen and (max-width: 1000px) {
  .card {
    display: none;
  }
  .dark-card {
    display: none;
  }
  .cardContentStyle {
    height: 70px;
  }
  .darkCardContentStyle {
    height: 70px;
  }
  .imageStyle {
    height: 15vh;
  }
}
