.imageStyle {
  height: 30vw;
  width: 25vw;
}
.cardContentStyle {
  height: 15vw;
  width: 25vw;
  background-color: rgb(80, 102, 128);
}
.card {
  background-color: rgb(80, 102, 128);
  border: 0px;
}
@media only screen and (max-width: 650px) {
  .card {
    display: none;
  }
}

.dark-card {
  background-color: rgb(47, 69, 98);
  border: 0px;
}
@media only screen and (max-width: 650px) {
  .dark-card {
    display: none;
  }
}

.darkCardContentStyle {
  height: 15vw;
  width: 25vw;
  background-color: rgb(47, 69, 98);
  border: 0px;
}
