.header_video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Centered text */
.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 100%);
  z-index: 1;
}

/* This stops the extra right screen scroll in some pages */
html,
body {
  width: 100%;
  overflow-x: hidden;
}
