.card-container {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
}

.project-container {
  text-align: center;
  margin-top: 10vh;
  color: black;
  position: absolute;
  z-index: 1;
}

.note-message {
  color: white;
}
