header {
  margin: 0 auto;
  text-align: center;
  background: rgb(70, 70, 70);
}

.center-switch-image {
  display: flex;
  justify-content: center;
}

.nav-links {
  color: black;
  text-align: center;
  width: 100%;
  position: relative;
  font-weight: bold;
}

.nav-links:hover {
  color: white;
}

.title {
  color: black;
  text-align: center;
  font-size: 20px;
  font-family: cursive;
  font-weight: bold;
}

.title:hover {
  color: white;
}

.navbar-toggler {
  color: rgb(70, 70, 70);
  width: 100%;
  border: 0px;
  overflow: hidden;
}

.navbar-toggler:hover {
  color: grey;
  border: 0px;
}

.dark {
  background-color: rgb(42, 42, 42);
  color: white;
}
.light {
  background-color: white;
  color: white;
}
