header {
  margin: 0 auto;
  text-align: center;
  background: rgb(70, 70, 70);
}

.center-switch-image {
  display: flex;
  justify-content: center;
}

.nav-links {
  display: inline-block;
  border-color: white;
  color: white;
  }
  
  .nav-links:hover {
  color: black;
  }

.dark {
    background-color: grey;
    color: white;
}
.light {
    background-color: white;
    color: white;
}