header {
  margin: 0 auto;
  text-align: center;
  background: rgb(70, 70, 70);
}

.center-switch-image {
  display: flex;
  justify-content: center;
}

.nav-links {
  color: white;
  text-align: center;
}

.nav-links:hover {
  color: black;
}

.navbar-toggler {
  color: rgb(70, 70, 70);
  width: 100%;
  border: 0px;
  overflow: hidden;
}

.navbar-toggler:hover {
  color: grey;
  border: 0px;
}

.dark {
  background-color: grey;
  color: white;
}
.light {
  background-color: white;
  color: white;
}
